html {
  overflow-x: hidden;
}

.app-container {
  max-width: 1110px;
  margin: auto;
}

.title {
  font-family: 'bree serif';
  font-weight: 500;
  font-size: 24px;
  line-height: 56px;
  color: #593e52;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .title {
    font-family: 'bree serif';
    font-size: 40px;
    margin-top: 48px;
    margin-bottom: 24px;
  }
}

.description {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 28px;
  text-align: justify;
  color: #616c7c;
  margin: auto;
  margin-bottom: 40px;
  padding: 15px;
}

@media screen and (max-width: 767px) {
  .description {
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
  }
}

.tabs-container {
  max-width: 300px;
  margin: auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

@media screen and (min-width: 992px) {
  .tabs-container {
    max-width: 455px;
  }
}

.project-list-container {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 12px;
  margin-bottom: 50px;
}

@media screen and (min-width: 992px) {
  .project-list-container {
    margin-bottom: 150px;
  }
}

.my-projects-bg-container-top-section {
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 450px;
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .my-projects-bg-container-top-section {
    margin-top: 10px;
  }
}
